<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016042779316-3av2fn51163dl3v3n5uh4h5b8qt9dlul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016042779316-3av2fn51163dl3v3n5uh4h5b8qt9dlul</string>
	<key>API_KEY</key>
	<string>AIzaSyD7q6DoK8baCwsso7a1eyxHxLS_sd9MeXM</string>
	<key>GCM_SENDER_ID</key>
	<string>1016042779316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jorge.video-app</string>
	<key>PROJECT_ID</key>
	<string>delete-react-project</string>
	<key>STORAGE_BUCKET</key>
	<string>delete-react-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016042779316:ios:a8b9a33e234ddeda1cdde1</string>
</dict>
</plist>