//
//  secrets.xcconfig
//  video-app
//
//  Created by Jorge on 31/01/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FIREBASE_CLIENT_ID = 1016042779316-3av2fn51163dl3v3n5uh4h5b8qt9dlul.apps.googleusercontent.com
FIREBASE_API_KEY = AIzaSyD7q6DoK8baCwsso7a1eyxHxLS_sd9MeXM
FIREBASE_PROJECT_ID = delete-react-project
